.contact_detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-color: $background;
  @include vertical-list;
  height: 100vh;
  img {
    width: 40%;
  }
  .contact_name {
    @include list; 
    @include cardDetails; 
      background-color: $secondary;
  }

  .contact_info {
    @include list;  
      @include cardDetails; 
      background-color: $white;
      
  }
  h1 {
    @include title;
  }
  h4 {
    @include subtitle;
  }
}
