@import "../general/mixins";

.container {
  @include vertical-list;
  @include card;
  background-color: $white;
  img {
    margin-top: -70px;
    border-radius: 50%;
  }
  h1 {
    color: $dark;
    font-size: $font-large;
    font-family: $theme-font;
  }
  h4 {
    color: $primary;
    font-size: $font-medium;
    font-family: $theme-font;
    margin: 0px;
  }
}
