$primary: #148767;
$secondary: #afebd1;
$gray: #a0a0a0;
$white: #fbfffe;
$dark: #062821;
$background:rgb(238, 238, 238);

$border-card: 10%;
$border-image: 50%;

$font-small: 12px;
$font-medium: 16px;
$font-large: 20px;
$font-xlarge: 45px;

$theme-font: "Raleway", sans-serif;