@mixin vertical-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  flex-direction: row;
}
@mixin list {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}
@mixin button {
 background-color: $primary;
 font-size: $font-medium;
 color: $white;
 border-radius: 10px;
 width: 90px;
 height: 40px;
 border-width: 0px;
 margin: 20px;
}
@mixin card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 150px;
  background-color:$white;
  border-radius:$border-card;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 50px;
  padding: 20px;
}
@mixin title{
   font-size: $font-xlarge;
  font-family: $theme-font;
  color: $dark;
}
@mixin subtitle{
   font-size: $font-large;
  font-family: $theme-font;
  color: $gray;
}
@mixin body{
   font-size: $font-large;
  font-family: $theme-font;
  color: $dark;
}
@mixin text{
   font-size: $font-large;
  font-family: $theme-font;
  color: $gray;
}